@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    width: 1.6rem;
    height: 1.6rem;
    background: #ff5656;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
  }
}

@font-face {
  font-family: "Gemunu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GemunuLibre-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gemunu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GemunuLibre-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gemunu el";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GemunuLibre-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Gemunu l";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GemunuLibre-Light.woff") format("woff");
}

@font-face {
  font-family: "Gemunu" m;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GemunuLibre-Medium.woff") format("woff");
}

@font-face {
  font-family: "NATS";
  font-style: normal;
  src: url("../fonts/NATS-Regular.woff") format("woff");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}
